# Core data manipulation and analysis
pandas==2.2.3
numpy==2.2.0

# Data visualization
matplotlib==3.9.3
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.2
category-encoders==2.6.4
xgboost==1.7.9
joblib==1.4.2
tqdm==4.67.1

# Jupyter and IPython related dependencies
ipython==8.30.0  # For interactive Python sessions
ipykernel==6.29.5  # To run the Python kernel in Jupyter
ipympl==0.9.4  # For interactive Matplotlib plots in Jupyter
ipywidgets==8.1.5  # For interactive widgets in Jupyter
jupyterlab==4.3.2  # Jupyter Lab, if you're using it (alternative: 'jupyter' for classic notebooks)